
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 65px;
}

body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;

}

/* Изменения бутстрапа */
a {
    outline: none !important;
}

body.modal-open {
    overflow: inherit;
    padding-right: inherit !important;
}

.modal-content {
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.panel, .form-control, .alert {
    border-radius: inherit;
}

label {
    font-weight: 500;
}

.panel-default > .panel-heading {
    background-color: #99a4bd;
    color: #fff;
    text-align: center;
}

.jumbotron {
    background-color: #99a4bd;
    color: #fff;
}

/* !Изменения бутстрапа */

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
    font-weight: 200;
}

p {
    font-size: 15px;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.menu .navbar-default {
    background: none;
    border-color: transparent;
    margin-bottom: 0;
    text-align: center;
}

.menu .navbar-default .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 200;
    color: #666;
    padding: 5px 15px;
}

.menu .navbar-default .navbar-nav > li > a:hover {
    color: #00afec;
}

.menu .navbar-nav {
    float: none;
    display: inline-block;
}

.menu .navbar {
    min-height: 0;
}

body > header {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.96);
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

body > header .logo {
    display: inline-block;
    margin-top: 8px;
}

body > header .social-info {
    margin-bottom: 0;
    padding-top: 8px;
    text-align: right;
}

body > header .social-info li {
    display: inline-block;
}

body > header .social-info li:first-child a {
    border-left: 1px solid #dedede;
}

body > header .social-info li a {
    color: #aeaeae;
    padding: 3px 8px;
    border-right: 1px solid #dedede;
}

body > header .social-info li a:hover {
    color: #00afec;
}

.banner {
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.banner .app-img {
    padding-top: 10px;
}

.banner .block > p {
    margin-bottom: 65px;
}

.banner .block {
    padding-top: 10px;
}

h1 {
    margin-bottom: 18px;
    line-height: 55px;
    color: #262b31;
    font-weight: 300;
}

.block p {
    font-size: 20px;
    color: #999;
    font-weight: 300;
}

.banner .block .download-btn li {
    display: inline-block;
}

.banner .block .download-btn li a {
    padding: 10px 28px 13px;
    font-size: 18px;
}

.banner .block .download-btn li a i {
    margin-right: 10px;
    font-size: 20px;
}

.banner .block .download-btn li .btn-apple {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #8883bc;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.banner .block .download-btn li .btn-apple:hover {
    color: #8883bc;
    background: #fff;
    border: 1px solid #8883bc;
}

.btn-blue {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #00afec;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.btn-blue:hover {
    color: #00afec;
    background: #fff;
    border: 1px solid #00afec;
}

.service {
    padding: 30px 0;
}

.service .service-wrapper {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 110px 0;
}

.service .block {
    text-align: center;
}

.service .block:hover .icon i {
    color: #fff;
}

.service .block:hover h3 {
    color: #00afec;
}

.service .block:hover .icon {
    border: 1px solid #FFFFFF;
    background: #00afec;
    color: #fff;
    -webkit-box-shadow: 0 0 0px 2px #00afec;
    -moz-box-shadow: 0 0 0px 2px #00afec;
    box-shadow: 0 0 0px 2px #00afec;
}

.service .block .icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #dedede;
    text-align: center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.service .block i {
    font-size: 25px;
    line-height: 90px;
    color: #989898;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.service .block h3 {
    color: #555;
    font-weight: 300;
}

.service .block p {
    font-size: 12pt;
    font-weight: 300;
    color: #999;
}

.feature, .auth-container {
    padding: 120px 0;
}

.feature .title {
    font-weight: 300;
}

.feature .feature-item {
    margin-top: 40px;
}

.feature .feature-item:first-child {
    margin-top: 0;
}

.feature .feature-item .icon {
    padding-right: 22px;
}

.feature .feature-item .icon i {
    color: #00afec;
    font-size: 30px;
}

.feature .feature-item h4 {
    color: #00afec;
    margin-bottom: 0;
    font-weight: 300;
    margin-bottom: 8px;
}

.feature .feature-item p {
    color: #9499a2;
}

.feature .block {
    text-align: center;
}

.feature .block img {
    display: inline-block;
}

footer {
    background: #f9f9f9;
    border-top: 1px solid #e8e8e8;
    padding: 40px 0 20px;
}

footer .footer-logo {
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
}

footer p {
    color: #6F6F6F;
    margin-top: 10px;
    margin-bottom: 0;
}



/* menuapp */

.menuapp {
    padding-top: 70px;
    padding-bottom: 20px;
}

.menuapp a {
    color: #666;
    font-size: 15px;
}

.menuapp a:hover {
    color: #00afec;
    text-decoration: none;
}



.menu-small, .menu-small a {
    font-size: 8pt;
    margin: 0px;
}

/* !menuapp */

.app-container {
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    margin: 20px auto;
}

.menuapp h4 {
    font-weight: 300;
}

.menuapp .fa {
    font-size: 26pt;
}

.info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 2px;
    margin: 5px -10px;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #fff none repeat scroll 0 0;
}

.info-box-icon {
    background: #99a4bd none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 90px;
    color: #fff;
}

.info-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}

/* Журнал действий */
.log-row {
    vertical-align: middle;
}

.subheaderlog, .subheaderlog > a {
    color: #c6c6c6;
    font-size: 16pt;
    font-weight: 200;
}

.log-row p {
    color: #c66c66;
}

/* portfolio */
.filters {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.filters .nav-pills > li {
    margin-bottom: 2px;
    margin-right: 2px;
}

.filters .nav-pills > li + li {
    margin-left: 0;
}

.text-center.filters .nav-pills > li {
    display: inline-block;
    float: none;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.isotope-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.isotope-item {
    margin-bottom: 20px;
}

.isotope-item .btn-default {
    border-radius: 0;
    color: #999999;
}

.isotope-item .btn-default:hover {
    border-radius: 0;
    color: #ffffff;
    background-color: #339beb;
    border-color: #339beb;
    transition: 0.6s;
}

@media (max-width: 480px) {
    .filters .nav-pills > li {
        display: block;
        width: 100%;
    }
}

.overlay-container {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.overlay-container > img {
    width: 100%;
}

.overlay {
    background-color: rgba(85, 172, 238, 0.9);
    bottom: -1px;
    cursor: pointer;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: -1px;
    top: 0;
    transform: scale(0.8);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.overlay:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.overlay span {
    bottom: 10px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
}

.overlay i {
    color: #ffffff;
    font-size: 18px;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    text-align: center;
    top: 50%;
}

.overlay-container:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

/* !portfolio */

/* web service */

.service-box-none p, .service-box p {
    margin-left: 25px;
    margin-right: 25px;
    color: #999;
    font-weight: 300;
}

.service-box-none h3, .service-box h3 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    font-weight: 300;
}

.service-box-none i {
    color: #00afec;
}

.service-box-none {
    padding-bottom: 50px;
    padding-top: 50px;
}

.service-box i {
    color: #00afec;
}

.service-box {
    border-bottom-color: #dedede;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.service-box-l {
    border-left-color: #dedede;
    border-left-style: solid;
    border-left-width: 1px;
}

/* !web service */


/* Новый прайс */
.pricing-table {
    padding: 0 15px;
}

@media (min-width: 992px) {
    .pricing-table {
        padding: 20px 15px;
    }
}

.pricing-table .plan {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #dfdfdf;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dfdfdf;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dfdfdf;
    border-top-style: solid;
    border-top-width: 1px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -16px;
    margin-top: 0;
    text-align: center;
}

@media (min-width: 992px) {
    .pricing-table .plan {
        margin-bottom: 0;
    }
}

.pricing-table .plan .pricing-head {
    padding-bottom: 24px;
}

.pricing-table .plan .pricing-head h3 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #99a4bd;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #99a4bd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #99a4bd;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #99a4bd;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #99a4bd;
    border-top-style: solid;
    border-top-width: 1px;
    color: #fff;
    line-height: 64px;
    margin-bottom: 24px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    position: relative;
}

.pricing-table .plan .pricing-head .price {
    color: #99a4bd;
    display: block;
    font-size: 60px;
    line-height: 1em;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    text-indent: -20px;
}

.pricing-table .plan .pricing-head .price sup {
    font-size: 18px;
    margin-top: 14px;
    position: absolute;
    top: 0;
    vertical-align: top;
}

.pricing-table .plan .pricing-head small {
    color: #dfdfdf;
    font-size: 14px;
}

.pricing-table .plan .pricing-body ul {
    border-bottom: #dfdfdf solid 1px;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.pricing-table .plan .pricing-body ul > li {
    border: #dfdfdf solid 1px;
    padding: 10px;
}

.pricing-table .plan .pricing-body ul > li:nth-child(2n+1) {
    background-color: #f2f2f2;
}

.pricing-table .plan .pricing-footer {
    padding: 30px 10px;
}

.pricing-table .plan.popular {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
}

.pricing-table .plan.popular .pricing-head h3 {
    background-color: #00afec;
    border-color: #00afec;
    font-size: 24px;
    line-height: 90px;
}

@media (min-width: 992px) {
    .pricing-table .plan.popular .pricing-head h3 {
        margin: -27px 0 24px;
    }
}

@media (min-width: 992px) {
    .pricing-table .plan.popular .pricing-footer {
        padding: 40px 10px;
    }
}

/* !Новый прайс */

/* Вебстудия с мноего варианта нового октавиана */

.web-open {
    position: relative;
}

.web-open img {
    width: 100%;
}

.caption {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.caption-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.caption-info {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.caption-info h1 {
    color: #fff;
}

.caption-info p {
    font-size: 13pt;
}

.process ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #dedede;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #dedede;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dedede;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dedede;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: solid;
    border-top-width: 1px;
    color: #00afec;
    height: 10em;
    line-height: 13.5em;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 10em;
}

.process ul li span {
    display: inline-block;
    font-weight: 300;
    line-height: 2em;
}

.process ul li span i {
    font-size: 3em;
}

.process ul li span b {
    display: block;
    font-size: 1em;
    font-weight: 300;
}

.partners img {
    float: left;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 75px;
    margin-top: 0;
}

.topbar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/lines.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.highlight-info {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/lab.jpg");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
}

.highlight-info .overlayback {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(33, 171, 202, 0.5);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.highlight-info h4 {
    color: #fff;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
}

.spacer {
    padding: 6em 0;
}

/* !Вебстудия с мноего варианта нового октавиана */

/* Мега меню */

.navbar .navbar-collapse .nav .parent {
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


.navbar .navbar-collapse .nav .parent:hover > .sub {
    animation: 0.4s ease 0s normal none 1 running fadeIn;
    display: block;
}



.navbar .navbar-collapse .nav > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #1e1e1e;
    line-height: 20px;
    padding: 11px 13px;
    position: static;
    text-shadow: none;
    transition: all 0.2s linear 0s;
    z-index: 901;
}


.navbar .navbar-collapse .nav > li.parent:hover > a {
    background: #fff none repeat scroll 0 0;
    border-bottom-color: transparent;
    border-radius: 3px 3px 0 0;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all 0.2s linear 0s;
}

.navbar .navbar-collapse .nav > li.parent > a::after {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: none;
    height: 12px;
    left: 4px;
    margin: 0 0 -6px;
    position: absolute;
    right: 4px;
    transition: background 0.5s linear 0s;
    z-index: 906;
}


.navbar .navbar-collapse .nav > li.parent.megamenu {
    overflow: hidden;
    position: static;
}

.navbar .navbar-collapse .nav > li.parent.megamenu > a {
    position: relative;
}

.navbar .navbar-collapse .nav > li.parent.megamenu:hover > a::after {
    left: 0;
    right: 0;
}


.navbar .navbar-collapse .nav .sub {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    font-size: 13px;
    line-height: 24px;
    margin: -1px 0 0;
    padding: 15px 20px;
    position: absolute;
    z-index: 905;
}

.megamenu .title {
    font-size: 13px;
    line-height: 23px;
    margin: 0 0 3px;
    text-transform: uppercase;
}

.megamenu > .sub {
    border-radius: 3px;
    left: -15px;
    padding: 0;
    width: 886px;
    z-index: 900;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .megamenu > .sub {
        margin: -1px 0 0 -37px;
        width: 832px;
    }
}

.megamenu > .sub a {
    width: 100%;
}

.megamenu > .sub .sub-wrapper {
    display: table;
    width: 100%;
}

.megamenu > .sub .promo-block {
    border-right: 1px solid #ccc;
    display: table-cell;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 34%;
}

.megamenu > .sub .promo-block.text-right {
    text-align: right;
}

.megamenu > .sub .promo-block.text-left {
    text-align: left;
}

.megamenu > .sub .sub-list {
    display: table-cell;
    padding: 35px 5px;
    vertical-align: top;
    width: 100%;
}

.megamenu > .sub .sub-list + .promo-block {
    border-left: 1px solid #ccc;
    border-right: 0 none;
}

.megamenu > .sub .box {
    float: left;
    padding: 0 20px 28px;
    width: 33%;
}

.megamenu > .sub .box:nth-child(3n+1), .megamenu > .sub .box:nth-child(2n+1) {
    clear: left;
}

.megamenu.promo > .sub .sub-list {
    width: 66%;
}

.megamenu.promo > .sub .box {
    clear: none;
    width: 50%;
}


/* ! Мега меню */

.container-auth {
    max-width: 600px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    color: #1e1e1e;
    border: 1px solid #ccc;
    border-radius: 0 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
}

.container-auth h1 {
    color: #1e1e1e;
}

