
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Изменения бутстрапа */
a {
    outline: none !important;
}

body.modal-open {
    overflow: inherit;
    padding-right: inherit !important;
}

.modal-content {
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.panel, .form-control, .alert {
    border-radius: inherit;
}

label, strong {
    font-weight: 500;
}

.panel-default > .panel-heading {
    background-color: #0f6d82;
    color: #fff;
    text-align: center;
}

.jumbotron {
    background-color: #0f6d82;
    color: #fff;
}

/* !Изменения бутстрапа */


.btn-blue {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #00afec;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.btn-blue:hover {
    color: #00afec;
    background: #fff;
    border: 1px solid #00afec;
}

.service {
    padding: 30px 0;
}


/* menuapp */

.menuapp {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuapp div {
    height: 150px;
}

.menuapp a {
    color: #666;
    font-size: 15px;
}

.menuapp a:hover, .menuapp a.active {
    color: #00afec;
    text-decoration: none;
}



.menu-small, .menu-small a {
    font-size: 8pt;
    margin: 0px;
}


.menuapp h4 {
    font-weight: 300;
}

.menuapp .fa {
    font-size: 26pt;
}

.info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 2px;
    margin: 5px -10px;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #0a5b6d none repeat scroll 0 0;
}

.info-box-icon {
    background: #0a5b6d none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 90px;
    color: #fff;
}

.info-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}

/* Журнал действий */
.log-row {
    vertical-align: middle;
}

.subheaderlog, .subheaderlog > a {
    color: #c6c6c6;
    font-size: 16pt;
    font-weight: 200;
}

.log-row p {
    color: #c66c66;
}
