
body {
    font-family: 'Roboto', sans-serif;
}

a {
    outline: none !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
    font-weight: 200;
}

p {
    font-size: 15px;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.menu .navbar-default {
    background: none;
    border-color: transparent;
    margin-bottom: 0;
    text-align: center;
}

.menu .navbar-default .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 200;
    color: #666;
    padding: 5px 15px;
}

.menu .navbar-default .navbar-nav > li > a:hover {
    color: #00afec;
}

.menu .navbar-nav {
    float: none;
    display: inline-block;
}

.menu .navbar {
    min-height: 0;
}

header {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.96);
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .logo {
    display: inline-block;
    margin-top: 8px;
}

header .social-info {
    margin-bottom: 0;
    padding-top: 8px;
    text-align: right;
}

header .social-info li {
    display: inline-block;
}

header .social-info li:first-child a {
    border-left: 1px solid #dedede;
}

header .social-info li a {
    color: #aeaeae;
    padding: 3px 8px;
    border-right: 1px solid #dedede;
}

header .social-info li a:hover {
    color: #00afec;
}

.banner {
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.banner .app-img {
    padding-top: 10px;
}

.banner .block > p {
    margin-bottom: 65px;
}

.banner .block {
    padding-top: 10px;
}

h1 {
    margin-bottom: 18px;
    line-height: 55px;
    color: #262b31;
    font-weight: 300;
}

p {
    font-size: 20px;
    color: #999;
    font-weight: 300;
}

.banner .block .download-btn li {
    display: inline-block;
}

.banner .block .download-btn li a {
    padding: 10px 28px 13px;
    font-size: 18px;
}

.banner .block .download-btn li a i {
    margin-right: 10px;
    font-size: 20px;
}

.banner .block .download-btn li .btn-apple {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #8883bc;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.banner .block .download-btn li .btn-apple:hover {
    color: #8883bc;
    background: #fff;
    border: 1px solid #8883bc;
}

.banner .block .download-btn li .btn-andriod {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #6fbf39;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.banner .block .download-btn li .btn-andriod:hover {
    color: #6fbf39;
    background: #fff;
    border: 1px solid #6fbf39;
}

.btn-blue {
    border: none;
    border-radius: 0;
    color: #fff;
    background: #00afec;
    border: 1px solid transparent;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.btn-blue:hover {
    color: #00afec;
    background: #fff;
    border: 1px solid #00afec;
}

.service {
    padding: 30px 0;
}

.service .service-wrapper {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 110px 0;
}

.service .block {
    cursor: pointer;
    text-align: center;
}

.service .block:hover .icon i {
    color: #fff;
}

.service .block:hover h3 {
    color: #00afec;
}

.service .block:hover .icon {
    border: 1px solid #FFFFFF;
    background: #00afec;
    color: #fff;
    -webkit-box-shadow: 0 0 0px 2px #00afec;
    -moz-box-shadow: 0 0 0px 2px #00afec;
    box-shadow: 0 0 0px 2px #00afec;
}

.service .block .icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #dedede;
    text-align: center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.service .block i {
    font-size: 25px;
    line-height: 90px;
    color: #989898;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.service .block h3 {
    color: #555;
    font-weight: 300;
}

.service .block p {
    color: #666;
}

.feature {
    padding: 120px 0;
}

.feature .title {
    font-weight: 300;
}

.feature .feature-item {
    margin-top: 40px;
}

.feature .feature-item:first-child {
    margin-top: 0;
}

.feature .feature-item .icon {
    padding-right: 22px;
}

.feature .feature-item .icon i {
    color: #00afec;
    font-size: 30px;
}

.feature .feature-item h4 {
    color: #00afec;
    margin-bottom: 0;
    font-weight: 300;
    margin-bottom: 8px;
}

.feature .feature-item p {
    color: #9499a2;
}

.feature .block {
    text-align: center;
}

.feature .block img {
    display: inline-block;
}

footer {
    background: #f9f9f9;
    border-top: 1px solid #e8e8e8;
    padding: 40px 0 20px;
}

footer .footer-logo {
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
}

footer p {
    color: #6F6F6F;
    margin-top: 10px;
    margin-bottom: 0;
}

/* Price */
.panel-price > .panel-heading {
    text-align: center;
}

.panel-price {
    border-radius: 10px 10px 6px 6px;
    border: inherit;
    box-shadow: 0 1px 10px 1px #262b31;
}

.panel-price > .panel-heading h3 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.cd-value {
    font-size: 5em;
    font-weight: 300;
}

.cd-currency {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    vertical-align: top;
}

.cd-currency, .cd-duration {
    color: rgba(23, 61, 80, 0.4);
}

.cd-duration::before {
    content: "/";
    margin-right: 2px;
}

.cd-duration {
    font-size: 1.4rem;
}

.panel-price > .panel-footer {
    background-color: #262b31;
    color: #ffffff;
    font-size: 1.4rem;
    height: auto;
    letter-spacing: 2px;
    position: static;
    text-indent: 0;
    text-transform: uppercase;
    text-align: center;
}

.panel-price > .panel-footer:hover {
    background-color: #00afec;
    transition: all 1s linear;
}

.panel-price > ul > li:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}

.panel-price > ul > li {
    text-align: center;
}

/* !Price */

/* menuapp */

.menuapp {
    padding-top: 70px;
    padding-bottom: 20px;
}

.menuapp a {
    color: #666;
    font-size: 15px;
}

.menuapp a:hover {
    color: #00afec;
    text-decoration: none;
}



.menu-small, .menu-small a {
    font-size: 8pt;
    margin: 0px;
}

/* !menuapp */

.app-container {
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    margin: 20px auto;
}

.menuapp h4 {
    font-weight: 300;
}

.menuapp .fa {
    font-size: 26pt;
}

.info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
    width: 100%;
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 2px;
    margin: 5px -10px;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #fff none repeat scroll 0 0;
}

.info-box-icon {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 2px 0 0 2px;
    display: block;
    float: left;
    font-size: 45px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 90px;
}

.info-box-content {
    margin-left: 90px;
    padding: 5px 10px;
}

/* Журнал действий */
.log-row {
    vertical-align: middle;
}

.subheaderlog, .subheaderlog > a {
    color: #c6c6c6;
    font-size: 16pt;
    font-weight: 200;
}

.log-row p {
    color: #c66c66;
}

/* portfolio */
.filters {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.filters .nav-pills > li {
    margin-bottom: 2px;
    margin-right: 2px;
}

.filters .nav-pills > li + li {
    margin-left: 0;
}

.text-center.filters .nav-pills > li {
    display: inline-block;
    float: none;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.isotope-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.isotope-item {
    margin-bottom: 20px;
}

.isotope-item .btn-default {
    border-radius: 0;
    color: #999999;
}

.isotope-item .btn-default:hover {
    border-radius: 0;
    color: #ffffff;
    background-color: #339beb;
    border-color: #339beb;
    transition: 0.6s;
}

@media (max-width: 480px) {
    .filters .nav-pills > li {
        display: block;
        width: 100%;
    }
}

.overlay-container {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.overlay-container > img {
    width: 100%;
}

.overlay {
    background-color: rgba(85, 172, 238, 0.9);
    bottom: -1px;
    cursor: pointer;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: -1px;
    top: 0;
    transform: scale(0.8);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.overlay:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.overlay span {
    bottom: 10px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
}

.overlay i {
    color: #ffffff;
    font-size: 18px;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    text-align: center;
    top: 50%;
}

.overlay-container:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

/* !portfolio */

/* web service */

.service-box-none p, .service-box p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 13pt;
}

.service-box-none h3, .service-box h3 {
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    font-weight: 300;
}

.service-box-none i {
    color: #00afec;
}

.service-box-none {
    padding-bottom: 50px;
    padding-top: 50px;
}

.service-box i {
    color: #00afec;
}

.service-box {
    border-bottom-color: #dedede;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.service-box-l {
    border-left-color: #dedede;
    border-left-style: solid;
    border-left-width: 1px;
}

/* !web service */
