/*Фиксы бутстрапа */
html{
    position: relative !important;
    min-height: 100% !important;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 77px;
}
button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

a {
    outline: none !important;
}

body.modal-open {
    overflow: inherit;
    padding-right: inherit !important;
}
/* Конец фиксов */


.header-alt-bg {
    background: url(/img/header_bg.jpg) bottom center no-repeat;
    min-height: 880px;
    position: relative;
    min-height: 880px;
}

.header-login-bg {
    background: url(/img/login_page_bg.jpg) top center repeat;
    min-height: 880px;
}

.header-login-app {
    background: url(/img/header_alt-4_bg.jpg)  top center no-repeat;
    min-height: 200px;
}


.navbar-default {
    background: none repeat scroll 0 0 rgba(35, 46, 63, 0.6);
    border-color: transparent;
    padding: 5px;
    margin: 0px;
}

.navbar-brand {
    height: 100%;
    padding: 0px;
    margin: 5px 0 5px;
}

.navbar-header .navbar-toggle {
    background-color: #222222;
    border-radius: 4px;
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 12pt;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background: none repeat scroll 0 0 #37485c;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.button-prizrak {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #f7ebdf;
    color: #f7ebdf;
    font-weight: 700;
    margin-top: 60px;
    padding: 15px;
}

.button-prizrak:hover {
    background: none repeat scroll 0 0 #65464c;
    border-color: #65464c;
    text-decoration: none;
    color: #f7ebdf;
    transition: all 0.5s ease 0s;
}

header h1 {
    color: #67484e;
    font-size: 30pt;
    font-weight: 900;
}

header h3 {
    color: #f7ebdf;
    padding-top: 10px;
}



.features {
    padding: 75px 0;
    background: #F5E8DF;
    overflow: hidden;
}

.features.servers {
    padding: 40px 0 0;
    background: #fff;
}

.features.premium-servers {
    padding: 50px 0;
    background: #535761;
}

.features i , .menuapp span{
    margin-bottom: 10px;
    font-size: 55px;
    color: #C5645B;
}

.features h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px
}

.features.premium-servers h2 {
    color: #d7d7d7;
}

.features.premium-servers p {
    color: #ccc;
}

.features ul {
    margin-top: 60px;
}

.features ul li {
    min-height: 230px;
    list-style-type: none;
}

.features ul li h3 {
    margin-bottom: 12px;
    font-size: 21px;
}

/* Call to Action */
.calltoaction {
    padding: 50px 0;
    background: #222D3A;
    overflow: hidden;
}

.calltoaction .longshadow {
    text-shadow: 1px 1px rgb(31, 41, 52), 2px 2px rgb(31, 41, 52), 3px 3px rgb(31, 41, 52), 4px 4px rgb(31, 41, 52), 5px 5px rgb(31, 41, 52), 6px 6px rgb(31, 41, 52), 7px 7px rgb(31, 41, 52), 8px 8px rgb(31, 41, 52), 9px 9px rgb(31, 41, 52), 10px 10px rgb(31, 41, 52), 11px 11px rgb(31, 41, 52), 12px 12px rgb(31, 41, 52), 13px 13px rgb(31, 41, 52), 14px 14px rgb(31, 41, 52), 15px 15px rgb(31, 41, 52), 16px 16px rgb(31, 41, 52), 17px 17px rgb(31, 41, 52), 18px 18px rgb(31, 41, 52), 19px 19px rgb(31, 41, 52), 20px 20px rgb(31, 41, 52), 21px 21px rgb(31, 41, 52), 22px 22px rgb(31, 41, 52), 23px 23px rgb(31, 41, 53), 24px 24px rgb(31, 41, 53), 25px 25px rgb(31, 42, 53), 26px 26px rgb(31, 42, 53), 27px 27px rgb(31, 42, 53), 28px 28px rgb(32, 42, 54), 29px 29px rgb(32, 42, 54), 30px 30px rgb(32, 42, 54), 31px 31px rgb(32, 42, 54), 32px 32px rgb(32, 43, 55), 33px 33px rgb(32, 43, 55), 34px 34px rgb(32, 43, 55), 35px 35px rgb(32, 43, 55), 36px 36px rgb(32, 43, 55), 37px 37px rgb(33, 43, 56), 38px 38px rgb(33, 43, 56), 39px 39px rgb(33, 44, 56), 40px 40px rgb(33, 44, 56), 41px 41px rgb(33, 44, 56), 42px 42px rgb(33, 44, 57), 43px 43px rgb(33, 44, 57), 44px 44px rgb(33, 44, 57), 45px 45px rgb(33, 44, 57), 46px 46px rgb(34, 45, 58);
    height: 100%;
    width: 100%;
    font-size: 64px;
    text-align: center;
    color: #37485c;
    font-weight: 900;
}

.calltoactioninfo {
    margin-top: 40px;
    border-top: 4px double #37485c;
    padding: 40px 0 0;
    text-align: center;
}

.calltoaction h2 {
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #37485c;
    font-size: 57px;
}

.calltoaction h2 span {
    color: #C5645B;
}

.calltoaction h3 {
    font-weight: 300;
    text-align: center;
    margin: 15px 0 0;
    padding: 0;
    color: #C5645B;
    font-size: 22px;
}

.calltoactioninfo .btn {
    background: #C5645B;
    color: #fff;
    margin-top: 30px;
    font-weight: 700;
    float: none;
}

.calltoactioninfo .btn:hover {
    background: #37485c;
    text-decoration: none
}

/* Pricing Tables - Boxes */
.pricingboxes {
    padding: 50px 0;
    overflow: hidden
}

.pricingboxes h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px;
    padding: 0px 10px;
}

.pricingboxes p {
    text-align: center;
    padding-bottom: 10px;
}

.pricingboxes .title {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #65454c;
    padding: 12px 0;
    text-align: center;
    letter-spacing: .07em;
    color: #fff;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
}

.pricingboxes .title:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(101, 69, 76, 0);
    border-top-color: #65454c;
    border-width: 8px;
    margin-left: -8px;
}

.pricing-table {
    border: 0;
    margin: 0 0 1.25em 0;
    padding: 0;
}

.pricing-table * {
    list-style: none;
    line-height: 1;
}

.pricing-table .price {
    background: #b86662;
    text-align: center;
    padding: 12px 0 18px;
    color: #EAEAEA;
    font-weight: 900;
    font-size: 15px;
}

.pricing-table .price span {
    color: #EAEAEA;
    font-weight: 900;
    font-size: 53px;
    display: block;
    padding: 10px 0;
    text-shadow: 1px 1px rgb(166, 92, 88), 2px 2px rgb(166, 92, 88), 3px 3px rgb(166, 92, 88), 4px 4px rgb(166, 92, 88), 5px 5px rgb(166, 92, 88), 6px 6px rgb(166, 92, 88), 7px 7px rgb(166, 92, 88), 8px 8px rgb(166, 92, 88), 9px 9px rgb(166, 92, 88), 10px 10px rgb(166, 92, 88), 11px 11px rgb(166, 92, 88), 12px 12px rgb(166, 92, 88), 13px 13px rgb(167, 92, 88), 14px 14px rgb(168, 93, 89), 15px 15px rgb(169, 93, 89), 16px 16px rgb(170, 94, 90), 17px 17px rgb(171, 94, 90), 18px 18px rgb(172, 95, 91), 19px 19px rgb(173, 95, 91), 20px 20px rgb(174, 96, 92), 21px 21px rgb(175, 97, 93), 22px 22px rgb(176, 97, 93), 23px 23px rgb(177, 98, 94), 24px 24px rgb(178, 98, 94), 25px 25px rgb(179, 99, 95), 26px 26px rgb(180, 99, 95), 27px 27px rgb(181, 100, 96), 28px 28px rgb(182, 100, 96), 29px 29px rgb(183, 101, 97), 30px 30px rgb(184, 102, 98);
    background-color: rgb(184, 102, 98);
}

.pricing-table .description {
    background: #b86662;
    text-align: center;
    padding: 32px 0;
    color: #fff;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: solid 1px #a85d59;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pricing-table .bullet-item {
    background-color: #b86662;
    padding: 0.9375em;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px #a85d59;
}

.pricing-table .cta-button {
    background: #b86662;
    text-align: center;
    padding: 8px 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pricing-table .cta-button p {
    padding: 14px 0 8px;
}

.pricing-table .cta-button span a {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background: #65454c;
    padding: 9px 27px;
    border-radius: 6px
}

.pricing-table .cta-button span a:hover {
    background: #37485c;
    text-decoration: none;
}

.pricingboxes-comparison {
    padding: 0 0 50px;
    overflow: hidden;
    margin: 0 10px;
}

.pricingboxes-comparison h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px
}

.pricingboxes-comparison p {
    text-align: center;
}

.pricingboxes-comparison .title-alt {
    background: #65454c;
    padding: 12px 0;
    text-align: center;
    letter-spacing: .07em;
    color: #fff;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
}

.pricingboxes-comparison .title-alt:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(101, 69, 76, 0);
    border-top-color: #65454c;
    border-width: 8px;
    margin-left: -8px;
}

.pricingboxes-comparison .title-features {
    background: #b86662;
    padding: 12px 0;
    text-align: center;
    letter-spacing: .07em;
    color: #fff;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
}

.pricingboxes-comparison .title-features:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(101, 69, 76, 0);
    border-top-color: #b86662;
    border-width: 8px;
    margin-left: -8px;
}

.pricing-table.alter .description {
    border-radius: 0;
}

.pricing-table.alter.features .bullet-item {
    background-color: #E5E5E5;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: solid 1px #D7D7D7;
}

.pricing-table.alter.features .bullet-item a {
    color: #666;
    cursor: pointer;
}

.has-tip {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 400 !important
}

.has-tip:hover {
    color: #000;
}

.pricing-table.alter .bullet-item i {
    font-size: 12px
}

.pricing-table.alter .bullet-item i.fa-check {
    color: #65454C;
}

.pricing-table.alter .bullet-item i.fa-times {
    color: #FEB762;
}

.pricing-table.alter .price {
    padding: 14px 0 20px;
}

.pricing-table.alter .price span {
    font-size: 33px;
}

.pricing-table.alter .price span sub {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 400;
    text-shadow: none;
    top: 0px;
    vertical-align: baseline;
    position: relative;
}

.pricing-table.alter .cta-button {
    background: #65454C;
    padding: 4px 0;
    border-radius: 0;
}

.pricing-table.alter .cta-button p {
    padding: 14px 0 2px;
}

.pricing-table.alter .cta-button span a {
    font-size: 14px;
    background: #b86662;
    padding: 5px 17px;
    border-radius: 6px
}

.pricing-table.alter .cta-button span a:hover {
    background: #37485c;
    text-decoration: none;
}

/* shared hosting - features */
.sharedfeatures-odd {
    padding: 50px 0;
    overflow: hidden;
    background: #F8F8F8;
}

.sharedfeatures-odd h2, .sharedfeatures-even h2 {
    font-weight: 900;
    margin-bottom: 12px;
    font-size: 23px;
}

.sharedfeatures-odd i {
    color: #B86662;
    font-size: 100px;
}

.sharedfeatures-odd .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: #37485c;
    padding-top: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
    text-align: center;
}

.sharedfeatures-even {
    padding: 50px 0;
    overflow: hidden;
    background: #fff;
}

.sharedfeatures-even i {
    color: #DBDBDB;
    font-size: 100px;
}

.sharedfeatures-even .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: #B86662;
    padding-top: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
    text-align: center;
}

/* Testimonials */
.testimonials {
    padding: 50px 0;
    background: #222D3A;
    margin-top: 45px;
}

.testimonials h2 {
    font-weight: 900;
    text-align: center;
    margin: 28px 0 12px;
    color: #fff;
    font-size: 44px;
}

.testimonials h2 span {
    color: #B86662;
}

.testimonials i {
    color: #B86662;
    font-size: 56px;
}

.testimonials .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 104px;
    height: 104px;
    background: #37485c;
    padding-top: 26px;
    margin: 0 auto;
    margin-top: -104px;
    position: relative;
    z-index: 99999;
    text-align: center;
}

/* Monitoring */
.monitoring {
    padding: 50px 0 0;
    overflow: hidden;
    background: #fafafa url(/img/monitoring_bg.jpg) repeat-x center bottom;
}

.monitoring h2 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 12px
}

.domainfeatures-list {
    padding: 10px 0 70px;
    overflow: hidden;
    background: #fafafa;
}

ul.domainfeatures {
    margin: 0;
}

ul.domainfeatures li {
    background: #F0F0F0;
    padding: 20px;
    border: 5px solid #fafafa;
    list-style-type: none
}

ul.domainfeatures p {
    font-size: 15px;
    font-weight: 400;
    text-align: left
}

ul.domainfeatures h3 {
    font-size: 18px;
    padding: 11px 0;
    margin: 0 0 5px;
    font-weight: 400;
    color: #000;
}

ul.domainfeatures li i {
    color: #fff;
    font-size: 54px;
}

 ul.domainfeatures li .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    background: #bf6b65;
    padding-top: 27px;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
    text-align: center;
}

/* Contact ------------------------ */
.contact-section {
    padding: 50px 0 77px 0;
}

.contact-details h4 {
    color: #4B4854;
    margin-top: 75px;
    font-size: 18px;
    padding: 0;
    letter-spacing: .07em;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
}

.contact-details ul {
    list-style: none;
    margin: 0;
    padding: 4px 0;
}

.contact-details ul li {
    padding: 7px 0;
    border-bottom: 1px solid;
    border-color: #ecedee;
    font-weight: 600;
    letter-spacing: .07em;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left
}

.contact-details ul li span {
    display: block;
}

.contact-details ul li:last-child {
    border-bottom: 0;
}

.contact-details ul li a {
    color: #303038
}

.contact-details ul li a:hover {
    color: #b86662;
    text-decoration: none
}

.button-full {
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    float: left;
    font-size: 15px;
    background: #65454c;
    height: 45px;
    color: #fff;
    font-weight: 900;
    padding: 6px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

.button-full:hover {
    background: #37485C;
}

footer {
    padding: 10px 0 15px;
    background: #222D3A;

    position: absolute !important;
    bottom: 0;
    width: 100% !important;
    /* Set the fixed height of the footer here */
}

p.copyright {
    font-size: 12px;
    text-align: center;
    padding: 35px 0 0;
    margin: 0;
    color: #ccc;
    text-transform: uppercase;
}






.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    overflow: hidden;
    background: #bf6b65;
    color: #ecedee;
    border-color: #bf6b65;
}



/* Login ------------------------ */
.login-container {padding:60px 0;  overflow:hidden;}
.login-form {text-align: center; background:#fff; border: 2px solid #ebebeb;    border-radius: 5px; overflow:hidden; padding:60px 30px;}


.menuapp{
    background: #fff;
    margin-top: 0px;
    padding: 0px;
}

.menuapp .col-md-2{
    padding: 10px 0px;
    border:1px solid #E0E0E0;
    min-height: 185px;
}

.menuapp a{
    color: #000;
}
.menuapp h4{
    font-size: 100%;
}


.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #e8e8e8;
}

.table-hover > tbody > tr:hover{
    background-color: #d58c85;
    color: #fff;
}

footer{
    margin-top: 20px;
}

.single-section-container{padding-top:12px;}
.single-section-title{border-bottom:6px solid #E8E8E8; text-align:center; margin-bottom:23px;}
.single-section-title span.single-section-text{display:block; width:70px; padding:8px; font-size: 16pt; background-color:#fff; margin:0px auto -17px;}



/* Author box */ 
.author-wrap {position: relative;  overflow:hidden; background:#fff;  border:6px solid #e8e8e8; padding:20px; margin:35px 0;  border-radius: 3px;}
.author-title {color: #303038;display: block;line-height: 1.5;margin: 0 0 15px; padding: 0 0 10px; border-bottom:2px solid #e8e8e8;}
.author-title h6 {padding:0; margin: 0 0 6px;font-size: 18px; letter-spacing: .07em; font-weight: 900}
.author-title a {color: #000;text-decoration: none;}
.author-title a:hover, .author-title a:focus {color: #000;text-decoration: none;}
.author-description {display: block; margin: 0 0 5px;}
.author-description p {margin: 0; font-size: 16px}


/* App меню */
.menu-small {
    font-size: 8pt;
    line-height: 5px;
}

.progress-bar{
    background-color: #c5645b;
}
.fa-red{
    color: #c5645b;
}
.nameD{
    vertical-align: middle !important;
    font-weight: bold;
}
.info-dns span:first-child{
    width: 25%;
    display: inline-block;
    text-align: left;
}
.info-dns span:last-child{
    width: 35%;
    display: inline-block;
    text-align: left;
}

